<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <title>Информация</title>
</head>
<body>
    <main>
        <div class="error-template">
            <h2>Voice assistant</h2>
            <p>Version <a href="#">{{ version }}</a></p>
            <p>Author: <a href="#", onclick="openURL('https://github.com/xXxCLOTIxXx')">Xsarz</a></p>
            <p>Update: 18.12.2024</a></p>
            <p>
            <a href="#", onclick="openURL('https://www.youtube.com/@Xsarzy')">YouTube</a>
            <a href="#", onclick="openURL('https://discord.gg/GtpUnsHHT4')">Discord</a>
            <a href="#", onclick="openURL('https://t.me/DxsarzUnion')">Telegram</a>
            </p>
            <a href="/" class="error-link">Назад</a>
        </div>
    </main>

    <script>
        function goToMain() {
            window.location.href = '/';
        }
    </script>
    <script src="static/js/socket.js"></script>
    <script src="static/js/open-link.js"></script>
</body>
</html>
