<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка {{ error_code }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main>
        <div class="error-template">
            <h1>Version {{ version }}</h1>
            <p><strong>Text-to-Speech (TTS):</strong> pyttsx3</p>
            <p><strong>Speech-to-Text (STT):</strong> vosk-model-small-ru-0.22</p>
            <p><strong>Last Update:</strong> December 2024</p>
            <p><strong>Author:</strong> Xsarz</p>
            <a href="/" class="error-link">Вернуться на главную</a>
        </div>
    </main>
</body>
</html>
