
select{
    margin-bottom: 5px;
}

.settings-container {
    width: 100%;
    max-width: 600px;
    background-color: rgba(0, 0, 30, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 194, 204, 0.5);
}

.setting-group {
    margin-bottom: 20px;
}

