body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle, #000, #18001a);
    color: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(5, 5, 15, 0.95);
    border-bottom: 2px solid #0a1555;
    box-shadow: 0 0 15px #00c2cc;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #7c2fc4;
    transition: color 0.3s;
}

footer a{
    color: #bf2fc4;
}

a:hover {
    color: #ff0088;
}

header .logo img {
    height: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(5, 5, 15, 0.95);
    border-top: 2px solid #120016;
    box-shadow: 0 0 15px #ce93fd;
}
